.stMainBlockContainer {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
}
.stAppHeader {
    background-color: rgba(255, 255, 255, 0.0);
    visibility: visible;
}
[data-testid = "stSidebarHeader"] {
    height: 2rem; /* 2rem keeps just enough space for the icon*/
}
